<div class="container">
    <h3>Preview Banner <em>{{ banner.name }}</em></h3>
    <hr>
    {{ banner.content|raw }}
    <hr>
    <div class="alert alert-info">
        The banner preview is inbetween the horizontal rulers!
    </div>
</div>