{% if is_granted('ROLE_ADMIN') %}
    <div style="color:red; padding: 10px;">
        <h2 class="no-margin">Position "{{ name }}" not found</h2>

        <p>
            <a href="{{ path('forci_banner_position_create', {name: name}) }}" class="btn btn-danger btn-sm" target="_blank">
                <i class="fa fa-plus"></i>
                Create position
            </a>
        </p>
    </div>
{% endif %}